@import 'nullstyle.scss';

body{
    background-color: #E8E8E8;
    padding-top: 123px;
    padding-left: 290px;
}

.main{
    margin-bottom: 113px;
    font-size: 20px;
    ul li{
        margin-bottom: 15px;
    }
span{   
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    .list_1{
        :nth-child(1){
            text-decoration: line-through;
        }
        :nth-child(2){
            font-weight: 800;
        }
        :nth-child(3){
            font-style: oblique;
        }
        :nth-child(4){
            text-transform: uppercase;
            font-weight: 300;
        }
    } 

    .list_2{
        margin-top: 75px;
        } 

    li:before{
        margin-right: 10px;
        content: url(../img/check.png)
    }
   
       
    ul{
        line-height: 15px;
    }
    .list_2 li:nth-child(2):hover::before{
            content: url('../img/icon.png');
        }
}

.buttons a{
    margin-bottom: 118px;
    margin-right: 97px;
    position: relative;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    padding-left: 50px;
    line-height: 44px;
    background-color: #80B7B3;
    width: 199px;
    height: 44px;
    display: inline-block;
    &:after{
        content: url(../img/Shape.png);
        position: absolute;
        top: 3px;
        right: 26px;
    }
    &:nth-child(2):hover{
        background-color: #3A5856;
    }
    &:nth-child(3):focus{
        background-color: #818181;
    }
}

.block_3{
    font-weight: 700;
    font-size: 18px;
    div{
        line-height: 25px;
        height: 73px;
        width: 761px;
        &:nth-child(1){
            &::first-line{
                color:red;
            }
            margin-bottom: 43px;
        }
        &:nth-child(2){
            &::first-letter{
                color: red;
            }
            margin-bottom: 100px;
        }
    }
}