* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #E8E8E8;
  padding-top: 123px;
  padding-left: 290px;
}

.main {
  margin-bottom: 113px;
  font-size: 20px;
}
.main ul li {
  margin-bottom: 15px;
}
.main span {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main .list_1 :nth-child(1) {
  text-decoration: line-through;
}
.main .list_1 :nth-child(2) {
  font-weight: 800;
}
.main .list_1 :nth-child(3) {
  font-style: oblique;
}
.main .list_1 :nth-child(4) {
  text-transform: uppercase;
  font-weight: 300;
}
.main .list_2 {
  margin-top: 75px;
}
.main li:before {
  margin-right: 10px;
  content: url(../img/check.png);
}
.main ul {
  line-height: 15px;
}
.main .list_2 li:nth-child(2):hover::before {
  content: url("../img/icon.png");
}

.buttons a {
  margin-bottom: 118px;
  margin-right: 97px;
  position: relative;
  text-transform: uppercase;
  color: white;
  border-radius: 40px;
  padding-left: 50px;
  line-height: 44px;
  background-color: #80B7B3;
  width: 199px;
  height: 44px;
  display: inline-block;
}
.buttons a:after {
  content: url(../img/Shape.png);
  position: absolute;
  top: 3px;
  right: 26px;
}
.buttons a:nth-child(2):hover {
  background-color: #3A5856;
}
.buttons a:nth-child(3):focus {
  background-color: #818181;
}

.block_3 {
  font-weight: 700;
  font-size: 18px;
}
.block_3 div {
  line-height: 25px;
  height: 73px;
  width: 761px;
}
.block_3 div:nth-child(1) {
  margin-bottom: 43px;
}
.block_3 div:nth-child(1)::first-line {
  color: red;
}
.block_3 div:nth-child(2) {
  margin-bottom: 100px;
}
.block_3 div:nth-child(2)::first-letter {
  color: red;
}